<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
      <add name="AerolineaFrba.Properties.Settings.GD2C2015ConnectionString"
          connectionString="Data Source=N-DES-GRILLO2\SQLSERVER2012;Initial Catalog=GD2C2015;User ID=gd;Password=gd2015"
          providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <add key="stringConexion" value="server=N-DES-GRILLO2\SQLSERVER2012;Trusted_Connection=yes;database=GD2C2015; connection timeout=30"/>
    <add key="fechaSistema" value="02/02/2016 22:30:00"/>
  </appSettings>
</configuration>